.wallet {
  padding: 0 100px;
}

.wallet_overview_coin {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #cad9ee;
}

.wallet_overview > p {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.wallet_overview > h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.transaction-body {
  font-size: 10pt;
}

.wallet-header-input {
  display: flex;
  justify-content: space-between;
}

.transaction-body {
  background-color: rgba(42, 210, 190, 0.05);
  overflow: auto;
  height: 49vh;
  margin-bottom: 50px;
}

.table__head {
  background-color: rgba(56, 200, 232, 0.1);
}

.wallet_table_coin {
  display: flex;
}

.redeem_icon,
.redeem_icon:hover,
.redeem_icon:active {
  border-color: transparent;
  background-color: transparent;
}

.transaction-header {
  background-color: rgba(56, 200, 232, 0.4);
  padding: 10px 10px 0 10px;
}

.filter-btn {
  background-color: rgba(56, 200, 232, 0.4);
}

@media screen and (max-width: 760px) {
  .wallet {
    padding: 0 15px;
    padding-bottom: 100px;
  }

  .redeem_coin_icon {
    font-size: 11px;
  }

  .wallet_overview > p {
    font-size: 10px;
  }

  .wallet_overview > h6 {
    font-size: 11px;
  }

  .account-container {
    padding: 12px;
  }

  p {
    text-decoration: none;
  }
}

