.container-mobile {
  padding: 0;
}

@media screen and (max-width: 760px) {
  .authlayout {
    height: 100vh;
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }

  .container-mobile {
    width: auto;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
