.private_policy {
  width: 50%;
  margin: auto;
  padding: 10px;
  text-align: justify;
}

.p_strong {
  color: #38c8e8;
}

.private_policy h2 {
  color: #30c1b0;
}

.private_policy h2,
h3,
h1,
p {
  display: block;
  width: 100%;
}
