.sign_in h5 {
  background: #30c1b0;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 154.3%;
  color: #fff;
}

.login_btn {
  height: 42px;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #38c8e8;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_btn > div {
  margin-right: 10px;
}

.btn_width {
  padding: 0 20%;
}

@media screen and (max-width: 540px) {
  .btn_width {
    padding: 0;
  }
}

.sign_in__info a {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 154.3%;
  text-decoration-line: underline;
  color: #111;
}

.input_field input {
  background: rgba(56, 200, 232, 0.2);
}

.signin__title_bar {
  width: 55rem;
  height: 42px;
  left: 184px;
  top: 147px;
  color: #fff;
  background: #30c1b0;
  border-radius: 10px;
  padding: 10px 0;
}
