.appheader {
  background-color: rgba(56, 200, 232, 0.3);
  height: 80px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .appheader {
    display: none;
    overflow: hidden;
  }
}
