.landing_page__welcome {
  height: 500px;
  display: flex;
}

body {
  overflow-x: hidden;
}

.landing_page__info {
  margin-top: 40px;
}

.get_rewarded {
  margin: auto;
}

.landing_page__create_account {
  padding-left: 400px;
}

.landing_page__create_account__mobile {
  width: 100%;
  margin-left: 20%;
}

.landing_page__get_rewarded {
  padding-left: 100px;
}

.landing_page__create_account__mobile a > button {
  background: #38c8e8;
  border-radius: 10px;
  width: 100%;
  height: 42px;
  margin-top: 78px;
  border-color: transparent;
}

.landing_page__reason__btn a {
  width: 300px;
  height: 40px;
  background: linear-gradient(81.58deg, rgba(42, 210, 190, 0.74) 16.09%, rgba(56, 200, 232, 0.71) 95.47%);
  border-radius: 81.5px;
}

.landing_page__create_account__mobile button > a {
  color: #fff;
}

.landing_page__create_account__mobile p > a {
  color: #1b1d28;
}

.landing_page__create_account a:hover {
  text-decoration: none;
}

.landing_page__create_account__mobile p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 154.3%;
  text-align: center;
  color: #1d1d28 important;
  text-decoration: none;
}

.partner_column {
  margin: auto;
  margin-top: 30px;
}

.section_styling {
  background-color: #2ad2be20;
  height: 70vh;
  border-radius: 0 0 90% 0;
}

.section_styling_how {
  background-color: #38c8e820;
  margin-bottom: 30px;
  padding-bottom: 50px;
}

.partners {
  margin-top: 80px;
}

.left-padding {
  padding-left: 25%;
}

.contact_form_container {
  width: 50%;
  margin: auto;
}

.contact_form_container_half {
  width: 34.5%;
  padding-right: 2.5%;
  padding-left: 0.5%;
}

.submit-contact-div {
  text-align: right;
  margin: auto;
  padding: 0;
}

.contact-submit {
  height: 50px;
  width: 25%;
  border-radius: 25px;
  margin: 0 auto;
  background-color: #38c8e8;
  border: 1px solid transparent;
  color: #fff;
  align-items: right;
}

.contact-submit > span {
  display: flex;
  justify-content: center;
}

.contact_form {
  height: 400px;
}

.landing_page__create_account h3,
h1 {
  margin: 0;
}

.landing_page{
  margin-left: -35%;
  margin-right: -35%;
}

.landing_page__create_account h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 46px;
  color: #08809a;
}

.landing_page__create_account h3 > span {
  font-weight: bold;
}

.landing_page__create_account h3 {
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 164.57%;
}

.landing_page__waste {
  justify-content: flex-end;
}

.form-control-contact {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b7f9eb5;
  background-color: #2ad2be30;
  background-clip: padding-box;
  border: 1px solid transparent;
}

.form-control-contact-text {
  display: block;
  width: 100%;
  height: 100px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b7f9eb5;
  background-color: #2ad2be30; 
  background-clip: padding-box;
  border: 1px solid transparent;
}

.right_side h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 46px;
  color: #08809a;
}

.right_side_up h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 46px;
  color: #08809a;
}

.h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 46px;
  color: #08809a;
}

.how {
  width: 100%;
  text-align: center;
}

.images_right {
  padding-left: 200px;
}

.image_right {
  padding-left: 0;
}

.left_side {
  margin-left: -140px;
}

.word_left {
  margin-left: 100px;
  padding-top: 100px;
  margin-right: 150px;
}

.word_right {
  margin-left: 250px;
  padding-top: 100px;
  margin-right: 50px;
}

.right_side {
  padding: 150px 200px 0 0;
  text-align: left;
}

.right_side_special {
  padding: 200px 0 0 520px;
  text-align: right;
}

.right_side_special h3 > span {
  font-weight: bold;
}

.span {
  font-weight: bold;
}

.cont_how {
  margin: auto;
}

.h3 {
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 164.57%;
}

.right_side_special h3 {
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 164.57%;
}

.right_side_up {
  padding: 150px 0 0 100px;
  text-align: right;
}

.right_side_up h3 > span {
  font-weight: bold;
}

.right_side_up h3 {
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 164.57%;
}

.right_side h3 > span {
  font-weight: bold;
}

.right_side h3 {
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 164.57%;
}

@media screen and (max-width: 540px) {
  .landing_page{
    margin-left: 0%;
    margin-right: 0%;
  }

  .landing_page__create_account h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 154.3%;
    color: #7b7f9e;
  }

  body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  .landing_page__create_account__mobile p:nth-child(1) {
    text-align: left;
  }

  .landing_page__create_account h1 {
    font-style: normal;
    font-weight: normal;
  }

  .landing_page__create_account {
    padding-left: 2%;
    width: 100%;
  }

  .section_styling {
    padding: 18%;
  }

  .landing_page__create_account__mobile {
    width: 100%;
    margin-left: 0;
  }
}

.landing_page__create_account__btn {
  width: 215px;
  height: 40px;
  border-radius: 81.5px;
  margin-top: 36px;
  background: linear-gradient(83.94deg, rgba(42, 210, 190, 0.74) 16.09%, rgba(56, 200, 232, 0.71) 95.47%);
}
